@model List<WebTraningDemoApp.Models.StudentModel>



    @foreach(StudentModel student in Model)
    {
        <p>Name @student.Name</p>
        <p>Email @student.Email</p>
        <p>Studing Level @student.Level</p>
        //<p>student.N</p>


    }
