@model List<WebTraningDemoApp.Models.StudentModel>


<table>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Date of Birth</th>
    </tr>

    @foreach(StudentModel student in Model)
    {
        <tr>
            <td>@student.FirstName</td>
            <td>@student.Email</td>
            <td>@student.DateOfBirth</td>
        </tr>
    }
    
</table>


  
